.DS_Store
.idea
.vscode
.nyc_output
.DS_Store
.vscode
npm-debug.log
yarn-error.log
node_modules
# dist - committed for GitHub installs
# es - committed for GitHub installs
# lib - committed for GitHub installs
test/coverage
